# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# jupyter
.ipynb_checkpoints/

# These are not the files you're looking for
weather_esp32/settings.h
Weather/Weather-backups
Weather/*.zip
Weather/plots

# vim trash
~*
.*.swap

# my trash
*.bk
Sleep.h

# KiCad trash
*auto*save*

# Libreoffice trash
.~*
